{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "arrow-parens": 2,
    "no-console": 0,
    "semi": 2,
    "semi-spacing": 2,
    "space-before-function-paren": 0,
    "quotes": ["error", "single"]
  }
}
